.birth-data {
  @include span-columns(12);
  @include display(flex);
  @include flex-direction(row);
  @include justify-content(space-between);
  padding-bottom: em(32);

  @include media($medium-screen) {
    @include justify-content(space-around);
    max-width: 50%;
  }

  .clock,
  .scale,
  .ruler {
    @include display(flex);
    @include flex-direction(column);
    @include align-items(center);
    color: $binx-pink;

    span {
      margin-top: em(8);
    }
  }
}
